.popupWindow{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /* background-color: blue; */
}
.delete-Popup{
    width:25rem;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color:rgb(255, 255, 255);
   box-shadow: 5px 5px 10px grey;
}
.deleteBtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}