.periods{
    width: 7rem;
    height: auto;
    padding:2px 1px;
    /* background-color: white; */
    border: 1px solid #828282;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width:10rem;
    margin:1rem */
}
.periods p{
    margin: 2px;
    text-align: center;
    font-weight: 400;
}
.timetable_type{
    color:#ff6600
}