tr,td,th,table{
    border: 2px solid;
    border-collapse: collapse;
    margin: auto;
    padding: 1rem;
    min-width: 10rem;
    text-align: center;
}
.table{
    width: 70%;
}
.EntireWeekRow{
    padding: 1rem 0.3rem !important;
    /* min-width: 9rem; */
}
.EntireWeek{
  
    min-width: 8rem;

}
.SelectDay{
    border: 1px solid;
    border-radius: 6px;
    width: 10rem;
    padding: 0.5rem 1rem;
    
}
.View{
    padding: 0.8rem 1rem;
    width: 8rem;
    font-weight:600;
    background-color: #FBBB00;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
}
.empty{
    font-size: 3rem;
    padding: 16rem 3rem;
    text-align: center;
    /* width: 40rem; */
    /* height: 25rem; */
    margin: auto;
    background-color: rgba(217, 217, 217, 0.4);
}
#ViewArrange{
    width: 10rem;
}
@media only screen and (max-width: 600px){
     .teacherDay{
        display: flex;
        align-items: center;
        justify-content: center;
     }
    .View{
        margin: 1rem 0.2rem;
    }
    .teacherView{
        margin: 1rem;
        display: grid;
    }
}
@media only screen and (min-width: 600px){
    .teacherView{
        margin: 1rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .View{
        margin: 1rem;
    }
}
