tr,td,th,table{
    border: 2px solid;
    border-collapse: collapse;
    margin: auto;
    padding: 1rem;
    min-width: 10rem;
    text-align: center;
}
.table{
    width: 70%;
}
.EntireWeekRow{
    padding: 1rem 0.3rem !important;
    min-width: 8rem;
}
.EntireWeek{
  
    min-width: 8rem;

}
.SelectDay{
    border: 1px solid;
    border-radius: 6px;
    width: 10rem;
    padding: 0.5rem 1rem;
    margin: 5rem -32rem 1rem 30rem ;
}
.View{
    padding: 0.8rem 1rem;
    width: 8rem;
    font-weight:600;
    background-color: #FBBB00;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    /* margin: 1rem -33rem 1rem 34rem ; */
}
.empty{
    font-size: 3rem;
    padding: 16rem 3rem;
    text-align: center;
    /* width: 40rem; */
    /* height: 25rem; */
    margin: auto;
    background-color: rgba(217, 217, 217, 0.4);
}
