.AdminNavbar{
    /* margin-left: -3vw; */
    width:100%;
    display: flex;
    justify-content: space-around;
}
.AdminNavbar button{
    width:10rem;
    /* margin:1rem 0rem; */
    padding: 1rem 1rem;
    font-weight:600;
    /* background-color: #FBBB00; */
    border: 1px 0px 0px 0px solid black;
    /* border-radius: 20px; */
    font-size: 0.8rem;
}
.menubar{
    display: none;
    margin: 2%;
}
.AdminNavbarMobile{
    width: 100vw;
    height: 100%;
    background-color: #252525;
    flex-direction: column;
    position: fixed;
    /* top:12%; */
    left: 0;
    justify-content: flex-start;
    display: none;
    z-index:99999;
}
.AdminNavbarMobile button{
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    /* border: 1px solid white; */
    box-shadow: 1px 0px 1px white;
    border-radius: 0;
    margin: 0 ;
    border: none;
    padding: 1rem;
}
.AdminNavbarMobile button:hover{
    background-color: red;
}
.hide{
    display: none;
}
.icon{
    color: white;
    position: absolute;
    top: 0.8rem;
    font-size: 2.5rem !important;
    margin-left: 0.4rem;
}
@media screen and (max-width:963px) {
    .menubar{
        position: absolute;
        display: block;
        top: 0.2rem;
        color: white;
    }
   
    /* .AdminNavbar{
        
        display: none;
        
    } */
    /* .AdminNavbarMobile{
        display: block;
    z-index: 99;

    }
     */
}
/* @media screen and (max-width:429px) {
    .AdminNavbarMobile{

    z-index: 99;

    }
} */
