.student{
    width:100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* overflow-x: hidden; */
}
.studentControlsSel{
    width: 100%;
   display: flex;
   justify-content: space-between;
}
.studentControls{
    width:70%;
    margin: auto;
    /* margin:1%; */
    padding:3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.studentTableBox{
    width:90%;
    margin: auto;
    /* overflow-x: scroll; */
    border: 1px solid grey;
    /* display: none; */
}
.logIndiv{
    width: 100%;
    padding:1%;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width:585px) {
    .studentControlsSel{
        flex-direction: column;
    }
    .studentControls{
        width: 90%;
    }
}