.createTimeTable{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createTimeTableControls{
    width:70%;
    margin-top: 5%;
    padding:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px grey;
}
.createTable{
    width:90%;
    margin:2% auto;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
@media screen and (max-width:662px) {
    .createTimeTableControls{
        width:90%;
        box-shadow: none;
    }
}