.createTable{
    width:100vw;
}
.dept-select{
    display: flex;
    justify-content: center;
}
.select-opt{
    width: 11rem;
    margin: 1rem;
    padding:0.5rem 1rem;
    /* background-color: black; */
    /* color: white; */
     border-radius: 20px;
}
.selectSection{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.section-box{
    /* width: 100%; */
    display: flex;
    
}
.selectSection button{
    background-color: #FBBB00;
    margin: 1rem;
    width: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
}
.select-lec{
    display: flex;
    justify-content: center;
}
.hide{
    display: none;
}