.createTable{
    width:100vw;
}
.dept-select{
    display: flex;
    justify-content: center;
}
.select-opt{
    width: 11rem;
    margin: 0 1rem;
    padding:0.5rem 1rem;
}
.selectSection{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.section-box{
    /* width: 100%; */
    display: flex;
    
}
.select-lec{
    display: flex;
    justify-content: center;
}
.hide{
    display: none;
}