.periods{
    width: 8.7rem;
    height: auto;
    padding:2px 1px;
    background-color: white;
    border: 1px solid black;
    font-size: 0.89rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width:10rem;
    margin:1rem */
}
.periods p{
    margin: 2px;
    text-align: center;
}