.grid-container{
    background-color: white;
    padding: 5px;
    display: grid;
    justify-content: center;
    grid-template-columns:12% 12% 12% 12% 12% 12% 12%;
    /* grid-column-gap: 5px; */
    grid-template-rows: auto auto auto auto auto;
    /* grid-row-gap: 5px; */
}
