

@media only screen and (min-width: 600px){
    .subjectBox{
        margin:1rem;
        

    }
    .details{
        font-size: 1.5rem !important;
        font-weight: 500 !important;
    }
    .profilehead{
        margin:1rem !important;
        width: 14rem;
        font-size: 1.5rem !important;
        font-weight: 500 !important;
    }
}
@media only screen and (max-width: 600px){
    .subjectBox{
        margin:1rem;
        
    }
    .details{
        font-size: 1.2rem !important;
        font-weight: 500 !important;
    }
    .profilehead{
        margin:1rem !important;
        width: 10rem;
        font-size: 1.2rem !important;
        font-weight: 500 !important;
    }
}