.logoutBtn{
    padding: 0.8rem 1rem;
    width: 10rem;
    font-weight: 600;
    background-color: #FBBB00;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
}
@media screen and (max-width:502px) {
    .logoutBtn{
        width:6rem;
        padding: 0.8rem;
        font-size: 0.6rem;
    }
}