.pdpLec{
    padding: 1rem 5rem;
    /* text-align: center; */
}
.popupWindow{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;
    position: absolute;
    top: 0;
    left: 0;
}
.delete-Popup{
    width:40%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color:rgb(239, 238, 238);
   box-shadow: 5px 5px 10px grey;
}
.deleteBtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}