@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.button{
  padding: 0.8rem 1rem;
  width: 10rem;
  font-weight: 600;
  background-color: #FBBB00;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
}
@media screen and (max-width:502px) {
  .button{
      width:8rem;
      padding: 0.8rem;
      font-size: 0.6rem;
  }
}
.loading{
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top:0;
  background-color: white;
  z-index: 999;
}